extends layout

block content

  a(href='/signout', class='text-center new-account') Ausloggen
  p #{message}
  h1 Admininterface
    hr
  div
        h2 Nutzer Anlegen
        form(action='/create_grem_user',method='post')
            include create_user_form
            hr
            include create_grem_form
            div
               button(type='submit',id='submitCreateUser') Nutzer anlegen


  h2 Nutzer &auml;ndern
