//
   Created by daniel on 04.07.2015.

script(type='text/javascript').
    var array = 0;
    function clone() {
        array++;
        var clonegrm = document.getElementById('council').cloneNode(true);
        clonegrm.getElementsByTagName("button")[0].removeAttribute("style");
        clonegrm.getElementsByTagName("select")[0].setAttribute("name", "councils[" + array + "][council_id]");
        clonegrm.getElementsByTagName("input")[0].setAttribute("name", "councils[" + array + "][from]");
        clonegrm.getElementsByTagName("input")[1].setAttribute("name", "councils[" + array + "][to]");

        document.getElementById('insertGrm').appendChild(clonegrm);
    }
    function deletethis(child) {
        var node = document.getElementById("insertGrm");
        node.removeChild(child);
        array--;
    }
div
    h3 Fachschaftzugeh&ouml;rigkeit festlegen
div
    div#council
            label(for='FS')
                b Fachschaftsmitgliedschaft:&nbsp
                    select(value='', placeholder='Fachschaft ausw\u00e4hlen', name='councils[0][council_id]' required)
                        <option value="" style="display:none;"></option>
                        each cou in student_council
                            <option value="#{cou._id}">#{cou._name}</option>
            label(for='councils[0][from]')
                b &nbsp;von:&nbsp;
                    input(type='date',value='',placeholder='Von: ',name='councils[0][from]' required)
            label(for='councils[0][to]')
                b &nbsp;bis:&nbsp;
                    input(type='date',value='',placeholder='Bis: ',name='councils[0][to]' required)
                    button(style='display: none',type='button',onclick='deletethis(this.parentNode.parentNode.parentNode)') &#045;
            br


    div#insertGrm
    div#cloneGrm
        button(type='button',id='Clonebutton',onclick="clone()",title='hinzufuegen') &#043;
        br