//
   Created by daniel on 13.06.2015.
script(type='text/javascript').
    var array = 0;
    function cloneGrm(){
        array ++;
        var clonegrm = document.getElementById('Grm').cloneNode(true);
        clonegrm.getElementsByTagName("button")[0].removeAttribute("style");
        clonegrm.getElementsByTagName("select")[0].setAttribute("name", "comm["+array+"][committee]");
        clonegrm.getElementsByTagName("select")[1].setAttribute("name", "comm["+array+"][council_id]");
        clonegrm.getElementsByTagName("input")[0].setAttribute("name", "comm["+array+"][from]");
        clonegrm.getElementsByTagName("input")[1].setAttribute("name", "comm["+array+"][to]");
        clonegrm.getElementsByTagName("input")[2].setAttribute("name", "comm["+array+"][reason]");
        document.getElementById('insertGrm').appendChild(clonegrm);
    }
    function deleteGrm(child){
        var node = document.getElementById("insertGrm");
        node.removeChild(child);
        array--;
    }
div
    h3 Gremienzugeh&ouml;rigkeit festlegen

div
    div#Grm
        label(for='comm[0][committee]')
            b Gremienmitgliedschaft:&nbsp
                select(value='', placeholder='Gremium ausw\u00e4hlen', name='comm[0][committee]')
                    <option value="" style="display:none;"></option>
                    each gremium, index in committees
                        <option value="#{gremium._id}">#{gremium._name}</option>
            label(for='comm[0][from]')
                b &nbsp;von:&nbsp;
                    input(type='date',value='',placeholder='Von: ',name='comm[0][from]')
            label(for='comm[0][to]')
                b &nbsp;bis:&nbsp;
                    input(type='date',value='',placeholder='Bis: ',name='comm[0][to]')
                    button(style='display: none',type='button',id='DelFS',onclick='deleteGrm(this.parentNode.parentNode.parentNode.parentNode)') &#045;

            input(style='width: 100%' type='text',placeholder='Grund Austritt/Eintritt ',name='comm[0][reason]')

            br
            label(for='FS')
                b Fachschaftsmitgliedschaft:&nbsp
                    select(value='', placeholder='Fachschaft ausw\u00e4hlen', name='comm[0][council_id]')
                        <option value="" style="display:none;"></option>
                        each fachschaft in student_council
                            <option value="#{fachschaft._id}">#{fachschaft._name}</option>
            br
    div#insertGrm
    div#cloneGrm
        button(type='button',id='CloneGrmbutton',onclick="cloneGrm()",title='hinzufuegen') &#043;
        br
